**1. Створення змінних**

In [1]:
name = 'Oleksandra'
age = 29
height = 1.64
is_student = False

In [2]:
print(name)
print(age)
print(height)
print(is_student)

Oleksandra
29
1.64
False

**2. Арифметичні операції**

In [3]:
var1 = 15
var2 = 4

In [5]:
sum = var1 + var2
sub = var1 - var2
mul = var1 * var2
div = var1 / var2
int = var1 // var2
rem = var1 % var2
expon = var1 ** var2

In [8]:
print(sum)
print(sub)
print(mul)
print(div)
print(int)
print(rem)
expon

19
11
60
3.75
3
3

50625

**3. Робота з рядками**

In [10]:
last_name = 'Hryhorus'

In [11]:
full_name = name + ' ' + last_name

In [12]:
full_name.upper()

'OLEKSANDRA HRYHORUS'

In [13]:
full_name.lower()

'oleksandra hryhorus'

In [14]:
len(full_name)

19

In [19]:
f'"Мене звати {name}, мені {age} років".'

'"Мене звати Oleksandra, мені 29 років".'